<%= form_for(:user, as: resource_name, url: session_path(:user), html: { class: "navbar-form navbar-right" } ) do |f| %>
  <div class="form-group">
    <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "Email" %>
  </div>

  <div class="form-group">
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "Password" %>
  </div>
  
  <%= f.submit "Log In", class: "btn btn-success" %>
  
<% end %>
